table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    width: 6px;
    height: 6px;
    background: white;
}

input[type=number] {
    width: 30px;
}

input[type=text] {
    width: 60px;
}