{%- extends "frame.html" -%}
{%- block title -%}
  Blog---{{ post[1] }}
{%- endblock -%}
{%- block head -%}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ cdn("github-markdown-css") }}">
{%- endblock -%}
{%- block content -%}
  <strong>{{ post[1] }}</strong>
  <hr>
  <div class="date">
    Add date: {{ post[2] }}&nbsp;
    Update date: {{ post[3] }}&nbsp;
    Tag:&nbsp;
    {%- for tag in post[4].split(";") -%}
      <a href="{{ url_for('sbl_blog.index', tag=tag) }}">{{ tag }}</a>
    {%- endfor -%}
    {%- if editable -%}
      <div class="edit"><a href="{{ url_for('sbl_blog.edit', post_id=post[0]) }}">Edit</a></div>
    {%- endif -%}
  </div>
  <br>
  <div class="markdown-body">
    {%- if post[5] -%}
      {{- post[5] | safe -}}
    {%- else -%}
      <p>There's nothing here.</p>
    {%- endif -%}
  </div>
{%- endblock -%}