<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {%- block head -%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- block title -%}{%- endblock -%}</title>
    <script type="text/javascript" src="{{ cdn("pace") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pace.on.js') | version }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ cdn("pace-css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css') | version }}">
  {%- endblock -%}
</head>
<body>
{%- if no_header is not defined or no_header == False -%}
  <div id="header">
    <a href="{{ url_for('sbl_index.index') }}">Some Boring List</a>
  </div>
{%- endif -%}
<div id="body">
  <div id="frame">
    {%- block content -%}
    {%- endblock -%}
  </div>
  {%- if no_sidebar is not defined or no_sidebar == False -%}
    {%- set nav = get_nav() -%}
    <div id="sidebar">
      {%- if nav[0] or nav[1] -%}
        <a href="{{ url_for('sbl_list.index') }}"><strong>List</strong></a>
        <hr>
      {%- endif -%}
      {%- for y in nav[0] -%}
        <a href="{{ url_for('sbl_list.index', year=y[0]) }}">{{ y[0] }}</a>
      {%- endfor -%}
      {%- for t in nav[1] -%}
        <a href="{{ url_for('sbl_list.index', tag=t) }}">{{ t }}</a>
      {%- endfor -%}<br>
      {%- if nav[2] -%}
        <a href="{{ url_for('sbl_blog.index') }}"><strong>Blog</strong></a>
        <hr>
        {%- for t in nav[2] -%}
          <a href="{{ url_for('sbl_blog.index', tag=t) }}">{{ t }}</a>
        {%- endfor -%}
      {%- endif -%}
      <hr>
      <a href="{{ url_for('sbl_login.login') }}"><strong>Login</strong></a>
      <a href="{{ url_for('sbl_login.logout') }}"><strong>Logout</strong></a>
    </div>
  {%- endif -%}
</div>
<div id="goTopBtn">
  <img src="{{ url_for('static', filename='img/go2top.jpg') }}">
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/go2top.js') | version }}"></script>
</body>
</html>